<h1><%= t("edit_my_promotion") + " &ldquo;#{@my_promotion.name}&rdquo;" %></h1>

<% content_for :sidebar do %>

  <h3 class="name"><%= @my_promotion.name %></h3>
  <br clear="clear" />
  <ul class="sidebar product-menu">
  	<li <%= ' class="active"' if current == "my_promotion" %>>
  	  <%= link_to t("my_promotion"), edit_admin_my_promotion_url(@my_promotion) %>
  	</li>
  	<li <%= ' class="active"' if current == "categories" %>>
  	  <%= link_to t("categories"), selected_admin_my_promotion_promotion_categories_url(@my_promotion) %>
    </li>
  	<li <%= ' class="active"' if current == "preview" %>>
  	  <%= link_to t("preview"), preview_admin_my_promotion_url(@my_promotion) %>
    </li>
  </ul>
  <br clear="clear" />

<% end %>