<% if @my_promotions.size>0 %>
<table class="index">
 <thead>
   <th><%= t("name") %></th>
   <th colspan="2"><%= t("action") %></th>
 </thead>
<tbody>
  <% @my_promotions.each do |promotion| %>
    <tr><td><%=  promotion.name %> </td><td>
    <%= link_to_edit promotion %>
     | <%=link_to_delete(promotion) %></td></tr>
  <% end %>
</tbody>
</table>
<% else %>
  Aucune promotion actuellement
<% end %>

<br/>
<%= link_to("Ajouter", new_admin_my_promotion_url) %>